@use '../../styles/variables';

.builderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-top: 4rem;
}

.builderGridContainer {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-areas:
    'image keycaps'
    'image switches'
    'image kit'
    'image costs';
}

.builderImg {
  grid-area: image;
}

.builderKeycaps {
  grid-area: keycaps;
  align-self: center;
}

.builderSwitches {
  grid-area: switches;
  align-self: center;
}

.builderKits {
  grid-area: kit;
  align-self: end;
}

.builderCosts {
  grid-area: costs;
  align-self: center;
}
