@use '../../styles/variables';

.builderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-top: 4rem;
}

.builderGridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-areas:
    'image keycaps'
    'image switches'
    'image kit'
    'image costs';
  align-items: center;
}

.builderImg {
  grid-area: image;
  justify-self: right;
}

.builderKeycaps {
  grid-area: keycaps;
}

.builderSwitches {
  grid-area: switches;
}

.builderKits {
  grid-area: kit;
}

.builderCosts {
  grid-area: costs;
}

.compatibilityChecker {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: #86bb88;
  margin: 20px 20px;
  border-radius: 8px;
  border: 1rem black;
  align-items: center;
  font-family: 'Space Grotesk';
  font-weight: 800;
}
