@use '../../../styles/variables';

.userItemsContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.itemsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
