@use '../../../../styles/variables';

.partFilterContainer {
  display: flex;
  flex-direction: column;
  background-color: variables.$alt-bg-color;
  border-radius: 0.5rem;
  box-shadow: variables.$shadow 0 0.2rem 0.2rem;
}
