@use '../../styles/variables';

.marketplaceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-top: 4rem;
}

.listingsContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  row-gap: 2rem;
  column-gap: 4%;
  flex-wrap: wrap;
}

.listingsTitle {
  font-size: 2rem;
  font-weight: 100;
}
