@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-Thin.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-ThinItalic.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-ExtraLight.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-ExtraLightItalic.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-Light.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-LightItalic.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-Italic.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-Medium.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-MediumItalic.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src:
    url('../assets/fonts/JetBrainsMono/webfonts/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/JetBrainsMono/ttf/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
