@use 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  max-width: 60%;
  min-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  background: variables.$bg-color;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.content {
  flex-grow: 1;
}

.title {
  font-weight: 100;
  font-size: 3rem;
}
