@use '../../../styles/variables';

.guidesCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.2s ease;
}

.guidesCardContainer:hover {
  box-shadow: variables.$shadow 0 0.2rem 0.2rem;
}
