@use '../../styles/variables';

.guideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-top: 4rem;
}

.guideText {
  font-weight: 300;
  max-width: 1000px;
  line-height: 2rem;
}
